<%= render partial: 'posts/form', locals: { post: @post } %>

<h1>칠칠칠</h1>

<div class="scale">
    <div class="scale-up-center"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center2"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center3"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center4"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center5"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center6"></div>&nbsp;&nbsp;
    
    <div class="scale-up-center7"></div>
</div>

<%= link_to '글쓰기', new_post_path %>
<%# app/views/balloons/_form.html.erb %>

<%# Basic usage: %>
<%= simple_form_for @balloon do |f| %>
  <%= f.input :color, as: :minicolors %>
<% end %>

<%# With Bootstrap theme and swatch on the right: %>
<%= simple_form_for @balloon do |f| %>
  <%= f.input :color, as: :minicolors, input_html: {data: {
          minicolors: {theme: :bootstrap, position: :right}}} %>
<% end %>asa



