

<script>
$(document).ready(function() {
        $(".scale-up-center0").click(function() {
            var color = $(".scale-up-center0").css("background-color");
            $(".scale-up-center7").css("background-color", color);
        })
        
        $(".scale-up-center2").click(function() {
            var color = $(".scale-up-center2").css("background-color");
            $(".scale-up-center7").css("background-color", color);
        })
        
        $(".scale-up-center3").click(function() {
            var color = $(".scale-up-center3").css("background-color");
            $(".scale-up-center7").css("background-color", color);
        })
        
        $(".scale-up-center4").click(function() {
            var color = $(".scale-up-center4").css("background-color");
            $(".scale-up-center7").css("background-color", color);
        })
        
        $(".scale-up-center5").click(function() {
            var color = $(".scale-up-center5").css("background-color");
            $(".scale-up-center7").css("background-color", color);
        })
        
        $(".scale-up-center6").click(function() {
            var color = $(".scale-up-center6").css("background-color");
            $(".scale-up-center7").css("background-color", color);
        })
        
})
</script>
   <div class="block2">
    <div class="box2">
        
            <div class="ehlfk1">
        <div class="subb">
          내 마음의 기분, 순간을 칠하다.
    
        
          
        </div>
        </div>
        <div class="ehlfk2">
       <ul class="Words">
      <li class="Words-line">
        <p>&nbsp;</p>
        <p>color</p>
      </li>
      <li class="Words-line">
        <p>color</p>
        <p>your</p>
      </li>
      <li class="Words-line">
        <p>your</p>
        <p>own</p>
      </li>
      <li class="Words-line">
        <p>own</p>
        <p>color</p>
      </li>
      <li class="Words-line">
        <p>color</p>
        <p></p>
      </li>
      <li class="Words-line">
        <p></p>
        <p></p>
      </li>
      <li class="Words-line">
        <p></p>
        <p></p>
      </li>
    </ul>
   <div class="rkawjd">나를 마주해보고 기록해보세요. 간단합니다!</div>
 
         </div>
         
         <div class="ehlfk3">
             <div class="subb2">
             우리 모두가 자신을 이해할 수 있을 때까지.
             </div>
         </div>
         
    <div class="down"> <a href="#page-3"><%= image_tag "down.png", size:"30x30" %></a></div>
    <div class="back"></div>
    
   
    
    </div>
    
    
    
   

</div>

    <div class="block3">
     <div class="wrapper">

  <!--<div class="box header">-->
    
  <!--</div>-->
  
  <!--<div class="box header2">-->
       
         
  <!--</div>-->
  
  <!--<div class="box header3">-->
        
  <!--</div>-->
 
  <div class="box sidebar1"></div>
  <div class="box content1">
    <div class="dep"><div class="sk2">감정색</div><br><div class="scale-up-center7"> <div class="cs">+</div>
  </div></div>
  </div>
  
  <div class="box section1"></div>

  <!--<div class="box sidebar2"></div>
  <div class="box content2">
       </div>
        
      

  <div class="box section2"></div>-->

  <div class="box sidebar3">
      <div class="scale-up-center2"> <div class="cs">분노</div> </div>
      <div class="scale-up-center3"> <div class="cs">슬픔</div> </div>
  </div>
  <div class="box content3">
      <%= render partial: 'posts/form', locals: { post: @post } %>
  </div>
  <div class="box section3">
       <div class="scale-up-center4"> <div class="cs">역겨움</div> </div>
      <div class="scale-up-center5"> <div class="cs">두려움</div> </div>
  </div>

  <div class="box sidebar4"></div>
  <div class="box content4">
        <div class="scale-up-center6"> <div class="cs">놀람</div> </div>
        <div class="scale-up-center0"> <div class="cs">기쁨</div> 
  </div>
  </div>
  <div class="box section4"></div>

 
    
    
  <div class="box section5"></div>
</div>

   
    <scroll-page id="page-3"></scroll-page>
    </div>
   
    <div class="block4">
        
    <% @posts.each do |x| %>
        <% if user_signed_in? %>
            <% if (x.user_id == current_user.id) %>
                <div class="xxx">
                    <div class="boxcolor">
                      <div class="boxcolor2" style="background-color:<%=x.color%>;"></div>
                    </div>    
                    <div class="boxtit"><%=x.title%></div> 
                    <div class="boxcon"><%=x.content%></div> 
                <%= link_to "자세히 보기", post_path(x), :style => "color:black;" %> 
                </div>

            <% else %>
                <div class="xxx">
                    <div class="boxcolor">
                      <div class="boxcolor2"></div>
                    </div>    
                    <div class="boxtit"></div> 
                    <div class="boxcon"></div> 
                </div>
            <% end %>
        <% else %>
            <div class="xxx">
                <div class="boxcolor">
                  <div class="boxcolor2"></div>
                </div>    
                <div class="boxtit"></div> 
                <div class="boxcon"></div> 
            </div>
        <% end %>
    <% end %>
        
    <scroll-page id="page-4"></scroll-page></div>
    <div class="block5"><scroll-page id="page-5"></scroll-page></div>
    <div class="block6"><scroll-page id="page-6"></scroll-page></div>
  
   </div>
   