<div class="for">
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
   
 <%= form.text_field :title, placeholder:"제목" ,style: "width:280px;" %></div>
 
  <div class="un2"><%= form.text_area :content, placeholder:"내용",style: "width:280px; height: 120px;"  %></div>
  
  
  <div class="field">
    <%= form.label :color %>
    <%= form.text_area :color, id: 'post_color' %>
  </div>
  
  <%= form.hidden_field :user_id, value: current_user %>      
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
   