ã…<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content.html_safe %>
</p>
color: <%= @post.color %>

 <p style="color: red;">asd: <%= @post.start_time %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', root_path %>
