<p id="notice"><%= notice %></p>

<div class="xxx">
  <div class="boxcolor">
    <div class="boxcolor2" style="background-color:<%=@post.color%>;"></div>
  </div>    
  <div class="boxtit"><%=@post.title%></div> 
  <div class="boxcon"><%=@post.content%></div> 
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', root_path %>
