<!DOCTYPE html>
<html style="height:100%;">
  <head>
    <title>Cheelup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= render 'layouts/navbar' %>
 
    <%= yield %>
    
    <% unless user_signed_in? %>
      <%= render partial: 'devise/registrations/new' %>
      <%= render partial: 'devise/sessions/new' %>
    <% else %>
      <%= render partial: 'devise/registrations/edit' %>
    <% end %>
    
  </body>
</html>